%ul.nav.nav-tabs
  %li.active
    %a(href="#common" data-toggle="tab") Common
  %li
    %a(href="#seo" data-toggle="tab") SEO

= simple_form_for [:admin, @page], html: { class: 'form-horizontal' } do |f|
  .tab-content
    .tab-pane.active#common
      = f.input :name
      = f.input :text, as: :ckeditor

      / = f.input :text, as: :ckeditor, input_html: {ckeditor: {toolbar: [{name: 'Edit', items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ]}, {name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ]}, {name: 'Other', items:['Source', 'Image', 'Table']} ]}}
      = f.input :position, collection: Page::POSITIONS
      = f.input :enabled

      #image.form-group
        = f.label :image, class: 'col-sm-3 control-label'
        .col-sm-9
          = f.input_field :image, as: :image_preview, preview_version: :thumb
          = f.hidden_field :remove_image, class: 'remove_image'
          %img.preview
          -if @page.image.present?
            %btn.btn.btn-success.btn-xs.add-page-image.hide-ni Добавить
            %btn.btn.btn-success.btn-xs.replace-page-image Заменить
            %btn.btn.btn-danger.btn-xs.remove-page-image Удалить
          -else
            %btn.btn.btn-success.btn-xs.add-page-image Добавить
            %btn.btn.btn-success.btn-xs.replace-page-image.hide-ni Заменить
            %btn.btn.btn-danger.btn-xs.remove-page-image.hide-ni Удалить

    .tab-pane#seo
      = render partial: 'seo', locals: {f: f}

  = f.button :submit
  = link_to 'Cancel', admin_pages_path, class: 'btn btn-default'
