=render '/categories/breadcrumbs'

#content{itemscope:'', itemtype:"http://schema.org/Product"} 
  %h1{itemprop:"name"}= @product.name

  .row
    .col-sm-4.fly-to-cart
      = render 'products/images'
      = render 'products/single_variant_properties', product: @product

    .col-sm-8.description{itemprop:"description"}
      =raw @product.description
      -if @product.attrs.count>0
        %table.table.table-condensed.attributes
          -@product.attrs.all.each do |attr|
            %tr
              %td= attr.name
              %td= attr.value
       
  =render 'products/variants_table', product: @product

  =render 'products/linked_products', linked: @linked