-if !@order.name.empty?
  %dl.dl-horizontal
    %dt Имя
    %dd= @order.name

-if !@order.email.empty?
  %dl.dl-horizontal
    %dt E-mail
    %dd= @order.email

-if !@order.phone.empty?
  %dl.dl-horizontal
    %dt Телефон
    %dd= @order.phone

-if !@order.zip.empty?
  %dl.dl-horizontal
    %dt Индекс
    %dd= @order.zip

-if !@order.city.empty?
  %dl.dl-horizontal
    %dt Город
    %dd= @order.city

-if !@order.address.empty?
  %dl.dl-horizontal
    %dt Адрес
    %dd= @order.address

-if !@order.comment.empty?
  %dl.dl-horizontal
    %dt Коментарий
    %dd= @order.comment

-if !@order.delivery_method.present?
  %dl.dl-horizontal
    %dt Способ доставки
    %dd= @order.delivery_method.name

-if !@order.payment_method.present?
  %dl.dl-horizontal
    %dt Способ оплаты
    %dd= @order.payment_method.name


%dl.dl-horizontal
  %dt Статус
  %dd= @order.state

%dl.dl-horizontal
  %dt Ссылка на заказ
  %dd= "#{Settings.site_url}/orders/#{@order.secure_key}"

%table.table.table-condensed
  %tr
    %td Товар
    %td Цена
    %td Количество
    %td Сумма
  -@order.order_items.all.each do |item|
    %tr
      %td 
        =item.product_name
        %br
        %small
          Артикул:
          =item.product_sku
      %td
        %small.price=raw item.price_str
      %td
        %small= item.quantity
      %td
        %small.price= raw item.price_str(item.quantity)
  %tr
    %td{colspan:4}
      .pull-right Итог
    %td.price= @order.total_price_str
