= simple_form_for [:admin, @payment_method] do |f|
  = f.input :name
  = f.input :description
  = f.input :hide
  = f.input :use_online 
  = f.input :enabled

  = f.button :submit
  = link_to 'Cancel', admin_discounts_path, class: 'btn btn-default'