= paginate @objects

%table.table.table-striped
  %thead
    %tr
      - @index_attributes.each do |attr|
        %th= @class_obj.human_attribute_name(attr)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody.sortable{id: "#{controller_name}_list"}
    - @objects.each do |object|
      %tr{id: object.id}
        -@index_attributes.each do |attr|
          -if object.class.columns_hash[attr.to_s].type == :boolean
            %td
              -if object.attributes[attr.to_s]
                %i.glyphicon.glyphicon-ok
          -else
            %td= object.attributes[attr.to_s]
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), "blogo_posts/#{object.id}/edit", :class => 'btn btn-xs btn-default'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), "blogo_posts/#{object.id}/delete", :method => :delete, :data => { :confirm => t('.confirm', name: object.title, :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= paginate @objects

