= simple_form_for [:admin, @discount] do |f|
  = f.input :name
  
  = f.input :enabled
  .row
    %label.col-sm-3.control-label
      Период скидки
    .col-sm-6
      c
      = f.input_field :start_at, as: :string
      по
      = f.input_field :end_at, as: :string

  = f.input :discount

  = f.association :categories
  = f.association :products

  = f.button :submit
  = link_to 'Cancel', admin_discounts_path, class: 'btn btn-default'