= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
	.panel.panel-default.devise-form
		.panel-heading
			%h3.panel-title Вход
		.panel-body
			= f.input :email, required: false, autofocus: true
			= f.input :password, required: false
			= f.input :remember_me, as: :boolean if devise_mapping.rememberable?
		.panel-footer
			= f.button :submit, "Вход", class: 'btn btn-primary'
			= render "devise/shared/links"
