=simple_form_for :settings do |settings_form|
  -@settings_list.each do |group|
    .panel.panel-default
      .panel-heading= group[:title]
      .panel-body
        -group[:settings].each do |set|
          -if set.class == Hash
            -if set[set.keys.first] == :text
              = settings_form.input set.keys.first, as: :text, input_html: { value: eval("Settings.#{set.keys.first.to_s}") }
            -elsif set[set.keys.first] == :bool
              = settings_form.input set.keys.first, as: :boolean, input_html: { checked: eval("Settings.#{set.keys.first.to_s}") }
          -else
            = settings_form.input set, input_html: { value: eval("Settings.#{set.to_s}") }

  = settings_form.button :submit