%ul.nav.nav-tabs
  -@tabs.keys.each_with_index do |tab, index|
    %li{class: (index==0)? 'active':''}
      %a(href="##{tab}" data-toggle="tab")= tab

= simple_form_for [:admin, @object], html: { class: 'form-horizontal' } do |f|
  .tab-content
    -@tabs.keys.each_with_index do |tab, index|
      .tab-pane{class: (index==0)? 'active':'', id: tab}
        -@tabs[tab].keys.each do |item|
          -case @tabs[tab][item][:type]
          -when :input
            = f.input item
          -when :association
            = f.association item
          -when :ckeditor
            = f.input item, as: :ckeditor
          -when :subform
            = f.simple_fields_for item do |sub|
              -@tabs[tab][item][:items].keys.each do |sub_item|
                -case @tabs[tab][item][:items][sub_item][:type]
                -when :input
                  = sub.input sub_item
          -when :image
            #image.form-group
              = f.label item, class: 'col-sm-3 control-label'
              .col-sm-9
                = f.input_field item, as: :image_preview, preview_version: :thumb
                = f.hidden_field :remove_image, class: 'remove_image'
                %img.preview
                -if eval("@object.#{item}.present?")
                  %btn.btn.btn-success.btn-xs.add-category-image.hide-ni Добавить
                  %btn.btn.btn-success.btn-xs.replace-category-image Заменить
                  %btn.btn.btn-danger.btn-xs.remove-category-image Удалить
                -else
                  %btn.btn.btn-success.btn-xs.add-category-image Добавить
                  %btn.btn.btn-success.btn-xs.replace-category-image.hide-ni Заменить
                  %btn.btn.btn-danger.btn-xs.remove-category-image.hide-ni Удалить



  = f.button :submit
  = link_to 'Cancel', eval("admin_#{controller_name}_path"), class: 'btn btn-default'
