%ul.nav.nav-tabs
  %li.active
    %a(href="#common" data-toggle="tab") Общее
  -if Settings.enable_variants
    %li
      %a(href="#variants" data-toggle="tab") Варианты
  %li
    %a(href="#attrs" data-toggle="tab") Атрибуты
  %li
    %a(href="#seo" data-toggle="tab") SEO

= simple_nested_form_for [:admin, @product], html: { class: 'form-horizontal' } do |f|
  .tab-content
    .tab-pane.active#common
      = f.input :name
      = f.input :sku
      = f.input :external_id
      / = f.input :price
      / = f.input :count
      = f.input :enabled

      -if !Settings.disable_categories
        = f.association :categories
        = f.association :linked_categories
      = f.association :linked_products

      #images.clearfix.form-group
        = f.label :images, class: 'col-sm-3 control-label'
        .col-sm-9
          %ul#image_list.sortable
            = f.simple_fields_for :images, :wrapper => false do |image|
              %li.nested-fields.pull-left.fields
                .img-thumbnail.preview_wrap
                  = image.input_field :image, as: :image_preview, preview_version: :thumb, class: 'file_upload', label: false 
                  =# f.input_field :position, as: :hidden
                  %img.preview
                = image.link_to_remove "Remove", {class: 'clearfix btn btn-danger btn-xs'}
            = f.link_to_add raw('<div class="img-thumbnail"><span class="glyphicon glyphicon-plus add_photo"/></div>'), :images
      = f.input :description, as: :ckeditor

    -if Settings.enable_variants
      .tab-pane#variants
        %table.table.variants.pull-left
          %tr
            %td Имя
            %td Артикул
            %td Цена
            %td Количество
            %td Наличие
            %td Вкл.
            %td Действия
          -#f.object.variants.build unless f.object.variants.first
          = f.fields_for  :variants, :wrapper => false do |variant|
            %tr.fields
              %td= variant.text_field :name, class: "form-control"
              %td= variant.text_field :sku, class: "form-control"
              %td= variant.text_field :price, class: "form-control"
              %td= variant.text_field :count, class: "form-control"
              %td= variant.text_field :availability, class: "form-control"
              %td= variant.check_box :enabled, class: "form-control"
              %td= variant.link_to_remove "Удалить", class: "btn btn-danger btn-xs"
        = f.link_to_add 'Добавить вариант', :variants, class: "btn btn-success btn-xs", "data-target" => ".variants"

    .tab-pane#attrs
      %table.table.attrs.pull-left
        %tr
          %td Имя
          %td Значение
          %td Действие
        = f.fields_for :attrs, :wrapper => false do |attr|
          %tr.fields
            %td= attr.text_field :name, class: "form-control"
            %td= attr.text_field :value, class: "form-control"
            %td= attr.link_to_remove "Удалить", class: "btn btn-danger btn-xs"

      = f.link_to_add 'Добавить атрибут', :attrs, class: "btn btn-success btn-xs", "data-target" => ".attrs"

    .tab-pane#seo
      = render partial: 'seo', locals: {f: f}

  = f.button :submit
  = link_to 'Cancel', admin_products_path, class: 'btn btn-default'