-if @product.variants.count==1
  %strong Артикул:
  =@product.variants.first.sku
  = form_for @cart_item, remote: true do |f|
    %div{itemprop:"offers", itemscope:'', itemtype:"http://schema.org/Offer"}
      = f.hidden_field :product_id
      %input(type="hidden" value="#{@product.variants.first.id}" name="cart_item[variant_id]")
      %strong Наличие:
      %span{itemprop: "availability"}= @product.variants.first.availability
      %br
      %strong Цена:
      %span.price{itemprop: "price"}= raw @product.variants.first.price_str
      =render 'add_to_cart', f: f
-# -else
-#   %strong Артикул:
-#   =@product.sku
