=render '/categories/breadcrumbs'
.row
	.col-sm-3
		=render '/categories/smart_tree'
		-unless Settings::disable_filters
			=render '/products/smart_filter'
	.col-sm-9
		%h1= @title

		-if @category
			.row
				.col-md-9= raw @category.description

		-if @category && !@category.parent && !(@products && ! @products.empty?)
			.categories_list
				%ul
					- @category.children.enabled.each do |child|					
						%li
							= link_to child.name, category_path(child.path, child.id)
							-if child.children.count>0
								%ul
									- child.children.enabled.each do |sub_child|					
										%li
											= link_to sub_child.name, category_path(sub_child.path, sub_child.id)




		-if @products && ! @products.empty?
			.row
				.col-sm-6
					= paginate @products 
				.col-sm-6
					.pull-right
						-# Сортировка
						-# %select
						-# 	%option{value: 'default'} По умолчанию
						-# 	%option{value: 'name'} По названию
						-# 	%option{value: 'price'} По возрастанию цены
						-# 	%option{value: 'price'} По уменьшению цены
						-# 	/ %option По дате поступления
			.row
				- @products.each do |product|
					=render "/products/show_item", category: @category, product: product, :cart_item=>@current_cart.cart_items.new(product_id: product.id, quantity:1)
			= paginate @products 
