!!! XML
%urlset{:xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9"}
  - Page.enabled.each do |page|
    %url
      %loc= Settings.site_url + page_path(page)
      %lastmod= page.updated_at.strftime("%Y-%m-%dT%H:%M:%S%:z")
      %changefreq monthly
  - Category.enabled.each do |cat|
    %url
      - if cat.path
        %loc= Settings.site_url + "/catalog/#{cat.path}/#{cat.id}"
      - else
        %loc= Settings.site_url + "/catalog/#{cat.id}"
      %lastmod= cat.updated_at.strftime("%Y-%m-%dT%H:%M:%S%:z")
      %changefreq weekly
  - Product.enabled.each do |prod|
    %url
      %loc= Settings.site_url + canonical_product_path(prod)
      %lastmod= prod.updated_at.strftime("%Y-%m-%dT%H:%M:%S%:z")
      %changefreq monthly
